<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Factura</h2>
            <form th:action="@{/}" th:object="${factura}" method="post">
                <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
                </ul>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>Factura ID</label>
                        <input type="number" class="form-control" th:field="*{id}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>NIF</label>
                        <input type="text" class="form-control" th:field="*{nif}">
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block mt-3">Save Project</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>